<nav>
    <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/home">Home</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      <li><a href="{{ site.baseurl }}/about">About Me</a></li>

    </ul>
  </nav>  

  