@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: wheat;
    list-style-type: none;

}
body{
    overflow-x: hidden;
    font-family: 'Reem Kufi', sans-serif;
    background-color: #222028;
}


/** nav start **/
nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
}



/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li {
    position: relative;
}

.nav-links a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.nav-links  a:hover:after { 
    width: 100%; 
    left: 0; 
  }



/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #D3DBA5;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/** nav end **/

.intro {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem ;
    height: 100vh;
    align-items: center;
    flex-direction: row-reverse;
}
.paraAbout{
    font-size: 1.1rem;
    word-spacing: 3.1px;
    margin: 2rem 5rem 3rem 2rem;
    color:whitesmoke;
}

.line{
    margin-top: 1.3rem;
    background-color: wheat;
    width: 92%;
    height: 0.5px;
}

.line2{
    margin-top: 3rem;

}
.wrapper{
    display: flex;
    flex-direction: column;
}

img {
    /* border-radius: 65%; */
    height: 60%;
    margin-top: 7%;
    margin-bottom: 2%;
}
    


@media only screen and (max-width: 990px) {

    .paraAbout{
        display: inline-block;
        font-size: 1.1rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: -10px;

    }
    .wrapper {
        width: 150%;
    }
    
    .line {
        margin-top:  30px;
    }

    img {
        margin-top: 100px;
    }
    .intro {
        height: 60vh;
        flex-direction: column;        

    }
   
    }