<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/contact.css">  
    <title>{{ page.title }}</title>
</head>

<body>
    {% include nav.html %} 
    
    <div class="Contact">
            <div class="intro">
                <img class="img1" src="{{ site.baseurl }}/assets/img/{{ page.imgname }}">
                <div class="wrapper">
                    <img class="img2" src="https://i.stack.imgur.com/AWZtN.png" alt="ImageLoad" />
                    <h1 class="getInTouch"> Get In Touch</h1>
                </div>
            </div>
            <div class="footInfo">
                <div class="writeMe">
                    <h1>Write me:</h1>
                    <p>{{ page.mail }}</p>
                </div>
                <div class="followMe">
                    <h1>Follow me:</h1>
                    <p>
                        <a href="{{ page.fblink }}"  class="ico1"  target="_blank" rel="noopener noreferrer"><i class="ico fa-brands fa-facebook"></i>Facebook.</a><br>
                        <a href="{{ page.twlink }}"  target="_blank" rel="noopener noreferrer"><i class="ico ico2 fa-brands fa-instagram"></i>Twitter.</a><br>
                        <a href="{{  page.instalink }}"  target="_blank" rel="noopener noreferrer"><i class="ico fa-brands fa-twitter"></i>Instagram.</a><br>
                    </p>
                </div>
            </div>
            </div>

</body>
{% include toggle.html %}

</html>
